

#wine {
    color: #350909;
}

#winee {
    color: #350909;
}

#table3{
    color: #fff;
    font-weight: 300;
    line-height: 2.2;
    width: 350px;
    height: 486px;
    margin-left: 140%;
    position: relative;

}