#awards {
    font-size: 13pt;
    line-height: 28px;
}
a {
    color: #343a40;
    text-decoration: none;
}

#cap {
    text-align: left;
    color: #02082e;
    font-size: 12pt;
    
}


#skillsextra{
    position: relative;
    font-size: 13pt;
    line-height: 28px;
    
}
#skills2 {
    
    
    position: relative;
    padding-bottom: 3rem !important;
    padding-top: 3rem !important;
    left: 29px;
}
#mb-53{
    position: relative;
    left: 45px;
    line-height: 40px;
    top: 30px;
    
}
#sportsh3 {
    font-size: 2.5rem;
    text-decoration: underline;
    line-height: 100px;
    
}